/*
  v1.0061 left-column-30, right-column 70
  v1.006 added clearboth
  v1.005  left-colun-20, right-column-70
  v1.004  Uses Fira Sans as a better alternative. A 500 is darker
          Paragraph sizes 1.5em
          changed left-column-35 to left-column-40
          changed links to blue, hover: purple;
          to highlight text use .highlight
  v1.003  Uses Source Code Pro,
          class: mytable has alternate grey/white rows
*/

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Fira Sans';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.footnote {
  position: absolute;
  bottom: 3em;
}

li p { 
  line-height: 1.25em;
  font-size: 1.5em;
}

.large { font-size: 2em; }
a, a > code {
  /* color: rgb(249, 38, 114); */
  color: #0000DD;     /* links are blue */
  text-decoration: none;
}

a:hover {
  color: #9900FF;     /* bright purple */
}



code {
  background: #e7e8e2;
  border-radius: 5px;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */

.left-column-30{
  width: 24%;
  float: left;
}

.right-column-70{
  width: 72%;
  float: right;
}


.left-column-60 {
  width: 60%;
  height: 92%;
  float: left;
}

.right-column-40 {
  width: 35%;
  float: right;
  padding-top: 1em;
}

.left-column-50 {
  width: 48%;
  height: 92%;
  float: left;
}

.right-column-50 {
  width: 48%;
  float: right;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

/* colors */
.red { color: #fa0000; }
.blue { color: #0000FF; }
.highlight { color: #fa0000; }

#mytable {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Fira Sans, Arial, sans-serif;
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}

#mytable td, #mytable th {
  border: 1px solid black;
  padding: 8px;
}

#mytable tr:nth-child(even){
  background-color: #f2f2f2;
}

#mytable tr:hover {
  background-color: #ddd;
}

#mytable th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
